<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
  body
    #App

    script(src="/static/js/app.js")
    script(src="/static/js/vendor.js")
